<p>
  Welcome to Rails Blank Template App. This is a simple Rails blank template app in order to be able to just simply clone it and start to develop our own app.
</p>
<p>
  It uses the Bootstrap SB Admin Base V2 theme. You could find the Rails gem of this theme <%= link_to 'here', 'https://github.com/dreamingechoes/bootstrap_sb_admin_base_v2', target: '_blank' %>
</p>
