<% content_for(:page_header) do %>
  <%= "About" %>
<% end %>
<% content_for :panel_heading do %>About<% end %>

<p>
  This is a simple Rails blank template app in order to be able to just simply clone it and start to develop our own app.
</p>
